.inputT{
    height: 2rem;
    border:1px solid white;
    border-radius: 4px !important;
}

.input[type="text" i]{
    border-color: white !important;
    border-radius: 6px !important;
}

.input[type="email" i]{
    border-color: white !important;
    border-radius: 6px !important;
}

.css-1uccc91-singleValue{
    color: white !important;
}